Start Fonts
----------------------------------------------------------------*/

@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.ttf);
    src: url(../fonts/Montserrat-Regular.ttf);
    src: url(../fonts/Montserrat-SemiBold.ttf);    
	
	src: url(../fonts/Montserrat-Bold.woff);
    src: url(../fonts/Montserrat-Regular.woff);
    src: url(../fonts/Montserrat-SemiBold.woff);

    
    
    font-style:normal;
}





/*----------------------------------------------------------------
					End Fonts
----------------------------------------------------------------*/
